/*
    Credit to refact0r's system24 theme for discord
    https://github.com/refact0r/system24
 */


@import url('https://refact0r.github.io/system24/src/main.css');
@import url('https://refact0r.github.io/system24/src/unrounding.css');

:root {
    --fujiWhite:        #DCD7BA;
    --oldWhite:         #C8C093;
    --sumiInk0:         #16161D;
    --sumiInk1:         #1F1F28;
    --sumiInk2:         #2A2A37;
    --sumiInk3:         #363646;
    --sumiInk4:         #54546D;
    --waveBlue1:        #223249;
    --waveBlue2:        #2D4F67;
    --winterGreen:      #2B3328;
    --winterYellow:     #49443C;
    --winterRed:        #43242B;
    --winterBlue:       #252535;
    --autumnGreen:      #76946A;
    --autumnRed:        #C34043;
    --autumnYellow:     #DCA561;
    --samuraiRed:       #E82424;
    --roninYellow:      #FF9E3B;
    --waveAqua1:        #6A9589;
    --dragonBlue:       #658594;
    --fujiGray:         #727169;
    --springViolet1:    #938AA9;
    --oniViolet:        #957FB8;
    --crystalBlue:      #7E9CD8;
    --springViolet2:    #9CABCA;
    --springBlue:       #7FB4CA;
    --lightBlue:        #A3D4D5;
    --waveAqua2:        #7AA89F;
    --springGreen:      #98BB6C;
    --boatYellow1:      #938056;
    --boatYellow2:      #C0A36E;
    --carpYellow:       #E6C384;
    --sakuraPink:       #D27E99;
    --waveRed:          #E46876;
    --peachRed:         #FF5D62;
    --surimiOrange:     #FFA066;
    --katanaGrey:       #717C7C;


    --font: 'DM Mono';
    letter-spacing: -0.05ch;
    font-weight: 300;
    --label-font-weight: 500;

    --corner-text: 'system24';

    --pad: 16px;
    --txt-pad: 10px;

    --bg-0: var(--sumiInk1); /* main background */
    --bg-1: var(--sumiInk0);
    --bg-2: var(--sumiInk2);
    --bg-3: var(--sumiInk3);


    --hover: var(--sumiInk2);
    --active: var(--sumiInk3);
    --selected: var(--active);

    --acc-0: var(--fujiWhite);
    --acc-1: var(--oldWhite);
    --acc-2: var(--oldWhite);

    --txt-dark: var(--bg-0);
    --txt-link: var(--springBlue);
    --txt-0:  var(--fujiWhite);
    --txt-1: var(--fujiWhite);
    --txt-2: var(--katanaGrey);
    --txt-3: var(--sumiInk4);

    --mention-txt: var(--crystalBlue);
    --mention-bg: hsla(220, 54%, 67%, 0.15);
    --mention-overlay:  hsla(220, 54%, 67%, 0.1);
    --mention-hover-overlay: hsla(220, 54%, 67%, 0.08);
    --reply-overlay: var(--active);
    --reply-hover-overlay: var(--hover);

    --border-width: 2px;
    --border-color: var(--bg-3);
    --border-hover-color: var(--fujiWhite);
    --border-transition: 0.2s ease;

    --online-dot: var(--autumnGreen);
    --dnd-dot: var(--autumnRed);
    --idle-dot: var(--autumnYellow);
    --streaming-dot: var(--oniViolet);

    --pink:  var(--autumnRed);
    --pink-1: var(--samuraiRed);
    --pink-2: var(--samuraiRed);
    --purple: var(--fujiWhite);
    --purple-1: var(--oldWhite);
    --purple-2: var(--oldWhite);
    --cyan: var(--springBlue);
    --yellow: var(--autumnYellow);
    --green: var(--autumnGreen);
    --green-1: var(--springGreen);
    --green-2: var(--springGreen);
}

.theme-dark {
    --badge-brand-bg: var(--fujiWhite);
    --status-danger: var(--fujiWhite); /* mute / unmute / unread ping */
}

.container_a4d4d9 > [style$='display: flex;'] > .guilds_a4d4d9 {
    margin: var(--pad) 0 var(--pad) 0;
}

/* minified memberlist (system24 theme version) */
:root {
    --collapsed: 62px;
    --expanded: 240px;
    --transition: 0.2s ease-out;
}

.membersWrap_cbd271 {
    min-width: unset;
    width: var(--collapsed);
    transition: var(--transition);
    height: 100%;
}

.members_cbd271,
.container_cbd271 {
    width: var(--collapsed);
    transition: var(--transition);
}

.membersWrap_cbd271:hover,
.membersWrap_cbd271:hover .members_cbd271,
.container_cbd271:hover {
    width: var(--expanded);
}

.membersWrap_cbd271:hover:after {
    content: 'members';
}

.membersGroup_cbd271 {
    height: 0;
    padding-top: 0;
    transition: var(--transition);
}

.membersWrap_cbd271:hover .membersGroup_cbd271 {
    padding: 24px 8px 0 16px;
    height: 40px;
}

.membersWrap_cbd271::after {
    content: '';
}
