snippet section
    section ${0}

snippet macro
    %macro ${1}
        ${0}
    %endmacro

snippet ifndef
    %ifndef ${1}
    %define ${1}
    ${0}
    %endif

snippet include
    %include "${0}"

snippet ex
    extern ${0}

snippet define
    %define ${0}

snippet struc
    struc ${1}
        ${0}
    endstruc
