snippet main "Main function"
    int main(int argc, char *argv[]) {
        ${0}
    }

snippet mainn "Main function"
    int main(void) {
        ${0}
    }

snippet inc "Include"
    #include <${1:stdio}.h>

snippet incc "Include file"
    #include "${1:file}.h"

snippet once "Pragma once"
    #pragma once

snippet > "Annoying"
    ->
